@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #fb2c06; /* Primary color: Red */
  --color-background: #0f0f0f; /* Background color: Dark */
  --color-secondary: #464646; /* Secondary color: Darker */
  --color-foreground: #141414; /* Foreground color: Darker */
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* Ẩn thanh scroll bar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Áp dụng cho toàn bộ trang */
::-webkit-scrollbar {
  width: 6px; /* Chiều rộng thanh cuộn dọc */
  height: 6px; /* Chiều cao thanh cuộn ngang */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Màu của phần kéo */
  border-radius: 4px; /* Bo tròn góc */
}

::-webkit-scrollbar-track {
  background: transparent; /* Màu nền track (phần rãnh) */
}
